---
interface Value {
  title: string;
  description: string;
}

interface Props {
  eyebrow?: string;
  title?: string;
  copy?: string;
  values?: Value[];
}

const {
  eyebrow,
  title = 'Valores',
  copy,
  values = [],
} = Astro.props as Props;
---

<section class="flex flex-col gap-1">
  <div class="rounded-xl overflow-hidden p-5 md:p-10 flex bg-[var(--color-paper)]">
    <div class="space-y-2 max-w-2xl">
      {eyebrow && <p class="text-sm font-semibold uppercase tracking-widest text-[var(--color-ink)]  m-0">{eyebrow}</p>}
      {title && <h2 class="md:text-2xl text-xl md:leading-tight antialiased m-0">{title}</h2>}
      {copy && <p class="text-base text-[var(--color-ink)]  m-0">{copy}</p>}
    </div>
  </div>

  {values.length > 0 && (
    <div class="flex flex-col gap-1 lg:flex-row">
      <div class="gap-1 lg:flex lg:w-1/2 lg:flex-col">
        {values.slice(0, Math.ceil(values.length / 2)).map((item) => (
          <div class="rounded-xl bg-[var(--color-paper)] overflow-hidden p-5 md:p-10">
            <h3 class="text-xl font-bold tracking-tight text-[var(--color-ink)]  m-0">{item.title}</h3>
            <p class="text-base text-[var(--color-ink)]  m-0 mt-2">{item.description}</p>
          </div>
        ))}
      </div>
      <div class="gap-1 lg:flex lg:w-1/2 lg:flex-col">
        {values.slice(Math.ceil(values.length / 2)).map((item) => (
          <div class="rounded-xl bg-[var(--color-paper)] overflow-hidden p-5 md:p-10">
            <h3 class="text-xl font-bold tracking-tight text-[var(--color-ink)]  m-0">{item.title}</h3>
            <p class="text-base text-[var(--color-ink)] m-0 mt-2">{item.description}</p>
          </div>
        ))}
      </div>
    </div>
  )}
</section>
